/*bases para el diseño responsivo*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
a{
  text-decoration: none;
}
.r-row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="r-col-"]{
  float: left;
  /*padding: 10px;*/
}
/*bases para diseño responsivo*/
body, ul{
  padding: 0;
  margin: 0;
  /*font-family: 'Roboto' , sans-serif;*/
  font-family: sans-serif;
}
h3, h1,h2,h4,h5,h6{
  padding-top: 10px;
  padding-bottom: 10px;
}
p{
  padding-bottom: 20px;
  padding-top: 20px
}
.r-logotipo{
  width: inherit;
	height: 300px;
  margin-top: 50px;
	color: #fff;
  display: block;
  text-align: center;

}
.r-navbar{
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-image: url(../images/portada1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.3);
  display: block;
  width: 100%;
}
.r-navbar-sup{
  width: 100%;
	padding-right: 10%;
  background-color: #0d47a1;
  position: absolute;
  opacity: 0.7;
}
.r-navbar-sup li{float: right;}
.r-menu-secundario{
  padding: 1px;
  display: none;

}
.r-search-in[type=text]{
    display: inline;
    text-align: center;
    width: 200px;
    box-sizing: border-box;
    border 2px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    background-color: #fff;
    background-image: url();
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search:focus{width:30%;}
.r-search-go[type=button]{
  display: inline;
  padding: 10px 25px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #66CC66;
  border-radius: 10px;
  -webkit-transition:width 2s, height 2s;
  transition: width 2s, height 2s;
}
.r-search-go:hover{
  padding: 8px 20px
}
.r-menu-secundario ul{
  width: 100%;
  background-color: #0d47a1;
  position:absolute;
  float: left;

}
.r-navbar-inf{

	padding-left: 10%;

  margin-bottom: 0;
  position: absolute;
  opacity: 0.7;
}
.r-navbar-inf li{float: left;}
li{
	list-style: none;
}
.r-navbar-sup li a,.r-dropbtn{
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.r-navbar-sup li a:hover, .r-dropdown:hover .r-dropbtn{
	background-color: #66CC66;
}
li.r-dropdown{display:block;}
.r-dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.r-dropdown-content a{
	color:black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.r-dropdown-content a:hover{
	background-color: #f1f1f1
}
.r-dropdown:hover .r-dropdown-content {display:block;}

.r-img-portada{
  width: 100%;
  height: 100%;
}
.r-footer{
  width: 100%;
  height: 250px;
}
.r-footer-header{
  background-color: #1b2899;
  width: 100%;
  height: 80%;
}
.r-footer-lic{
  background-color: #101541;
  width: inherit;
  height: 20%;
}

.r-container{
  padding: 10px;
  display: block;
  width: 100%;
}
.r-container-card-radius-border{
  display: block;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  border: 0.1px solid;
  border-color: #0d47a1;

}
.r-container-card-radius-border:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.r-container-card-radius{
  display: block;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  border-color: #0d47a1;

}
.r-container-card-radius:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.r-container-card-border{
  display: block;
  width: 100%;
  border-radius: 0px 0px 0px 0px;
  border: 0.1px solid;
  border-color: #3f51b5;
}
.r-container-card-border:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.r-container-card{
  display: block;
  width: 100%;

  border-radius: 0px 0px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);

}
.r-container-card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.r-cardradius-footer{
  padding: 15px;
  height: 80px;
  width: 100%;
  text-align: left;
  display: block;
  border-radius:0px 0px 10px 10px;

}
.r-cardradius-header{
  height: 80px;
  width: 100%;
  border-radius:10px 10px 0px 0px;
  text-align: center;

}
.r-card-footer{
  padding: 15px;
  height: 80px;
  width: 100%;
  text-align: left;
  display: block;
  border-radius:0px 0px 0px 0px;

}
.r-card-header{
  height: 40px;
  width: 100%;
  border-radius:0px 0px 0px 0px;
  text-align: center;

}
.r-card-body{
  padding: 15px;
  text-align: justify;
  font-size: 14px;

}
/*FORMULARIOS*/
input[type=text]{
  border: none;
  width: 100%;
  padding: 0px 20px;
  margin-left: ;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px solid #448aff;
  float: left;
}
input[type=text]:focus{
  border-bottom: 2px solid #ffc107;
}
input[type=text]{
  text-decoration: none;
}
.r-container-input{
  display: block;
  padding: 10px;
  width: 100%;
}
label{
  color: #448aff;
  float: left;

}
/*Desing Grid para que sea reponsivo*/

/*para telefonos moviles*/
[class*=r-col-]{
  width: 100%;
}
@media only screen and (min-width: 600px){
  /*para tablets*/
    .r-col-m-1{width: 8.33%}
    .r-col-m-2{width: 16.66%}
    .r-col-m-3{width: 25%}
    .r-col-m-4{width: 33.33%}
    .r-col-m-5{width: 41.66%}
    .r-col-m-6{width: 50%}
    .r-col-m-7{width: 58.33%}
    .r-col-m-8{width: 66.66%}
    .r-col-m-9{width: 75%}
    .r-col-m-10{width: 83.33%}
    .r-col-m-11{width: 91.66%}
    .r-col-m-12{width: 100%}
}
@media only screen and (min-width: 728px){
  /*para tablets*/
    .r-col-1{width: 8.33%}
    .r-col-2{width: 16.66%}
    .r-col-3{width: 25%}
    .r-col-4{width: 33.33%}
    .r-col-5{width: 41.66%}
    .r-col-6{width: 50%}
    .r-col-7{width: 58.33%}
    .r-col-8{width: 66.66%}
    .r-col-9{width: 75%}
    .r-col-10{width: 83.33%}
    .r-col-11{width: 91.66%}
    .r-col-12{width: 100%}
}
/*estilos de la aplicacion*/
.r-datos{

}

table{
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}
tr:hover{background-color: #f5f5f5;}
.r-img-circle{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.r-button{
  display: inline-block;
  cursor:pointer;
  text-align: center;
  color:#fff;
  background-color: #ffc107;
  padding: 7px 10px;
  border-radius: 4px;
  float: right;
  margin: auto;
  box-shadow: 0 9px #937005;
}
.r-button:hover{
  background-color: #fff;
  color:#ffc107;
}
.r-button:active{
  background-color: #fff;
  color:#ffc107;
  box-shadow: 0 5px #ffc107;
  transform: translateY(4px);
}
.r-indigo{
  background-color: #3f51b5;
}
.r-indigo-light-1{
  background-color:#5c6bc0;
}
.r-blue{
  background-color: #2196f3
}
.r-blue-light-1{
  background-color: #42a5f5;
}
.r-blue-light-2{
  background-color: #64b5f6;
}
.r-blue-light-3{
  background-color: #90caf9;
}
.r-blue-light-4{
  background-color: #bbdefb;
}
.r-blue-light-5{
  background-color: #e3f2fd;
}
.r-blue-darken-1{
  background-color: #1e88e5;
}
.r-blue-darken-2{
  background-color: #1976d2;
}
.r-blue-darken-3{
  background-color: #1565c0;
}
.r-blue-darken-4{
  background-color: #0d47a1;
}
.r-blue-accent-1{
  background-color: #82b1ff;
}
.r-blue-accent-2{
  background-color: #448aff;
}
.r-blue-accent-3{
  background-color: #2979ff;
}
.r-blue-accent-4{
  background-color: #2962ff;
}
.r-text-white{
  color: #fff;
}


/*errores de validación de formularios*/

.item .alert {
  float: left;
  margin: 0 0 0 20px;
  padding: 3px 10px;
  color: #FFF;
  border-radius: 3px 4px 4px 3px;
  background-color: #CE5454;
  max-width: 200px;
  white-space: pre;
  position: relative;
  float: left;
  left: -15px;
  opacity: 0;
  z-index: 1;
  transition: 0.15s ease-out;
}
.item .alert::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-color: transparent #CE5454 transparent transparent;
  border-style: solid;
  border-width: 11px 7px;
  position: absolute;
  left: -13px;
  top: 1px;
}
.item.bad .alert {
  left: 0;
  opacity: 1;

}

.profile_img{
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.foto_perfil{
  width: 214px;
  height: 214px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
/*estilos para tablas*/
.x_panel{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
.x_title{
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
}
.x_title h2{
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.x_title h2 small{
  margin-left: 10px;
}
.panel_toolbox{
  float: right;
  min-width: 70px;
  }
.navbar_rigth{
  margin-right: 0;
}
.nav{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.panel_toolbox > li {
    float: left;
}
.nav > li {
    position: relative;
    display: block;
}
.panel_toolbox > li > a {
    padding: 5px;
    color: #C5C7CB;
    font-size: 14px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 13px 15px 7px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.x_content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
div.dataTables_filter {
    text-align: right;
}
.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}
